@{
    ViewData["Title"] = "Trabajadores";
    //Layout = "~/Views/Shared/_layout1.cshtml";
}

@section title {
    <title>Busqueda de informacion</title>
}

@section body {
    <div>
        <hr>
        COMP_Codigo: @Model.data2.COMP_Codigo<br />
        Id_Trabajador: @Model.data2.Id_Trabajador<br />
        Apellido_Paterno: @Model.data2.Apellido_Paterno<br />
        Apellido_Materno: @Model.data2.Apellido_Materno<br />
        Nombres: @Model.data2.Nombres<br />
        Identificacion: @Model.data2.Identificacion<br />
        Entidad_Bancaria: @Model.data2.Entidad_Bancaria<br />
        CarnetIESS: @Model.data2.CarnetIESS<br />
        Direccion: @Model.data2.Direccion<br />
        Telefono_Fijo: @Model.data2.Telefono_Fijo<br />
        Telefono_Movil: @Model.data2.Telefono_Movil<br />
        Genero: @Model.data2.Genero<br />
        Nro_Cuenta_Bancaria: @Model.data2.Nro_Cuenta_Bancaria<br />
        Codigo_Categoria_Ocupacion: @Model.data2.Codigo_Categoria_Ocupacion<br />
        Ocupacion: @Model.data2.Ocupacion<br />
        Centro_Costos: @Model.data2.Centro_Costos<br />
        Nivel_Salarial: @Model.data2.Nivel_Salarial<br />
        EstadoTrabajador: @Model.data2.EstadoTrabajador<br />
        Tipo_Contrato: @Model.data2.Tipo_Contrato<br />
        Tipo_Cese: @Model.data2.Tipo_Cese<br />
        EstadoCivil: @Model.data2.EstadoCivil<br />
        TipodeComision: @Model.data2.TipodeComision<br />
        FechaNacimiento: @Model.data2.FechaNacimiento<br />
        FechaIngreso: @Model.data2.FechaIngreso<br />
        FechaCese: @Model.data2.FechaCese<br />
        PeriododeVacaciones: @Model.data2.PeriododeVacaciones<br />
        FechaReingreso: @Model.data2.FechaReingreso<br />
        Fecha_Ult_Actualizacion: @Model.data2.Fecha_Ult_Actualizacion<br />
        EsReingreso: @Model.data2.EsReingreso<br />
        Tipo_Cuenta: @Model.data2.Tipo_Cuenta<br />
        FormaCalculo13ro: @Model.data2.FormaCalculo13ro<br />
        FormaCalculo14ro: @Model.data2.FormaCalculo14ro<br />
        BoniComplementaria: @Model.data2.BoniComplementaria<br />
        BoniEspecial: @Model.data2.BoniEspecial<br />
        Remuneracion_Minima: @Model.data2.Remuneracion_Minima<br />
        Fondo_Reserva: @Model.data2.Fondo_Reserva<br />
        Mensaje: @Model.data2.Mensaje<br />
        <hr>
    </div>
}

